@model IEnumerable<ASPMVC_homework_01.Models.客戶總覽>

@{
    ViewBag.Title = "CustomerCount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>客戶資料統計</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.銀行數量)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.聯絡人數量)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.銀行數量)
            </td>
        </tr>
    }

</table>
